In [24]:
import pandas as pd
import os

from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

from collections import Counter

### Classifying Scientists
Aim: To classify Scientists into those with links to Germany and those without links to Germany.

<b> First Loading in each xlsx into 1 dataframe </b>

Loading the excel sheets into dataframes, fixing the column names and adding a column to indicate the source file.

[ The Ocr_Index is a guess - it's not defined for manually inserted rows so am assuming it's from the OCR process(?) - won't matter either way. ]

In [25]:
cols = ['Ocr_Index', 'Page', 'Surname', 'Other_Names', 'Affiliation', 'Field', 'Full_Text', 'Indicator', 'sheet_name', 'EMPTY', 'Cleaning_Comments']
# get all xls in the folder
sheet_paths = [f for f in os.listdir(
    '.') if os.path.isfile(f) and f.endswith('.xls')]
dfs = []
for sheet_path in sheet_paths:
    df = pd.read_excel(sheet_path)

    df.loc[-1] = df.columns.tolist() # the sheets have no header, so pandas is using the first row as header
    df.index = df.index + 1  # so we have to re-add the columns as the first row
    df.sort_index(inplace=True)

    df_cols = cols[:len(df.columns)] # then fill in the correct column names
    df.columns = df_cols
    df['sheet_name'] = sheet_path

    dfs.append(df)
# concat all dataframes
df = pd.concat(dfs, ignore_index=True)
df.head(3)

,Ocr_Index,Page,Surname,Other_Names,Affiliation,Field,Full_Text,Indicator,sheet_name,EMPTY,Cleaning_Comments
0,22968.0,1200,Rogers,Prof. Charles E(dwin),33 Concord St,CIVIL ENGINEERING,"Saratoga Co, N. Y, June 5, 74. C.E, Rensselaer...",0.0,6_1200_1400_afterRachel.xls,Unnamed: 9,Unnamed: 10
1,22969.0,1200,Rogers,Charles F(letcher),University Farm,BIOCHEMISTRY,"Denver, Colo, June 15, 02. A.B, Nebr. Wesleyan...",0.0,6_1200_1400_afterRachel.xls,NaN,NaN
2,22970.0,1200,Rogers,Prof. C(harles) G(ardner),378 Reamer Place,PHYSIOLOGY,"Perry, N. Y, March 4, 75. A.B, Syracuse, 97, A...",0.0,6_1200_1400_afterRachel.xls,NaN,NaN

and just fixing str types and making Full_Text lower case

In [26]:
# Converting NaNs and other to empty strings
df = df.fillna('')

df['Full_Text'] = df['Full_Text'].str.lower()

<img src="https://raw.githubusercontent.com/FM-ds/FM-ds.github.io/main/misc_resource/men_of_science.png"> </img>

## First Approach: Just search for 'Germany', 'German' and 'Deutschland' etc
This is easy, and should be a good start.  There are likely unlabeled Germans in the dataset but unsure how many so far. Doing this will yield a list of institutions which can be searched for in futher steps

e.g: if a "Gortmund, Germany" is found, then scientists with just "Gortmund" later on can be classified as German

In [27]:
search_terms = ["German", "Germany", "Deutschland"]
search_terms = [term.lower() for term in search_terms]

In [28]:
def is_de(full_text, search_terms):
    global counter
    counter+=1
    if(counter%5000==0):
        print(f"Processed {counter} Rows")
    matched_terms = []
    for term in search_terms:
        if term in full_text:
            matched_terms.append(term)
    return matched_terms

In [29]:
# Filter for rows where full_text contains any of the search terms
counter = 0
df['matched_terms'] = df.apply(lambda x: is_de(x['Full_Text'], search_terms), axis=1)
df['de'] = df.apply(lambda x: len(x['matched_terms']) > 0, axis=1)
df['de'].value_counts()

Processed 5000 Rows
Processed 10000 Rows
Processed 15000 Rows
Processed 20000 Rows
Processed 25000 Rows

False    27267
True       463
Name: de, dtype: int64

Here we've only matched 436 of the 27,000 - around 1.7% which is almost definitely an undercount.
However, if we compare term frequencies in matched rows with non-matched rows we can gain an insight into other terms to consider.

We can do this by using term frequency-inverse document frequency (tf-idf) which is a measure of how important a term is to a document in a collection or corpus.  If we find tf-idf for each full-text row, we can compare the tf-idf of the matched rows with the non-matched rows.

In [30]:
# Find term counts in de=True rows
# Calculate tf–idf for rows with German and non-German matches
v = TfidfVectorizer()
tf_idf = v.fit_transform(df['Full_Text'])

Now We can put this in its own data frame to find the 10 terms in the matched rows and the top terms in the non-matched rows. This takes about 40 seconds to run on my laptop.

In [31]:
tf_idf_df = pd.DataFrame(tf_idf.toarray(), columns=v.get_feature_names())
tf_idf_df.head(3)
# Merge de from df with tf_idf_df
tf_idf_df = tf_idf_df.merge(df[['de']], left_index=True, right_index=True)

tf_grouped_df = tf_idf_df.groupby('de_y').mean().T
tf_grouped_df.columns = ['Not Matched', 'Matched']

tf_grouped_df['diff'] = tf_grouped_df['Matched']-tf_grouped_df['Not Matched']
tf_grouped_df = tf_grouped_df.sort_values(by=['diff'], ascending=False)
tf_grouped_df.head(25)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

            Not Matched   Matched      diff
germany        0.000000  0.095555  0.095555
berlin         0.001619  0.031425  0.029805
german         0.000000  0.028542  0.028542
munich         0.000847  0.018043  0.017196
gesell         0.001385  0.018177  0.016792
and            0.045350  0.059665  0.014316
inst           0.015114  0.029351  0.014237
gottingen      0.000820  0.014707  0.013886
med            0.019430  0.032460  0.013030
germanium      0.000000  0.012586  0.012586
deuts          0.000957  0.013236  0.012278
frankfurt      0.000163  0.012213  0.012050
research       0.020282  0.032023  0.011741
docent         0.000243  0.011628  0.011385
privat         0.000168  0.010877  0.010709
soc            0.037396  0.047579  0.010183
hon            0.004010  0.014103  0.010093
chem           0.032447  0.042290  0.009843
hamburg        0.000116  0.009810  0.009694
heidelberg     0.000592  0.010261  0.009669
mem            0.006357  0.015531  0.009174
am             0.010265  0.019340  0.009074
hosp           0.009021  0.017874  0.008854
phila          0.003361  0.012214  0.008854
pres           0.012862  0.021060  0.008199

There aren't any huge surprises here but probably sensible to start grabbing terms from this list to build a bigger list.

### 2. Expanding our Term List with the tf-idf Insights

From this list I've selected ~35 terms that are unambiguous and are likely to be good indicators of German scientists. Let's expand our search to include these terms and see how many more we can find.

In [32]:
new_terms = ['germany',  'berlin',  'german',  'munich',  'gottingen',  'deuts',  'hamburg',  'heidelberg',  'hochschule',  'freiburg',  'breslau',  'kiel',  'karlsruhe',  'stuttgart',  'darmstadt',  'leipzig',  'baden',  'tubingen',  'dresden',  'cologne',  'erlangen',  'montefiore',  'strassburg',  'wiesbaden',  'charlottenburg',  'hanover',  'chemnitz',  'bielefeld',  'konigsberg',  'gnissau',  'bavarian',  'eberswalde',  'schoeneberg',  'braunschweig'] 
search_terms = list(set(search_terms + new_terms))

In [33]:
# Filter for rows where full_text contains any of the search terms
counter = 0
df['matched_terms'] = df.apply(lambda x: is_de(x['Full_Text'], search_terms), axis=1)
df['de_2'] = df.apply(lambda x: len(x['matched_terms']) > 0, axis=1)
df['de_2'].value_counts()

Processed 5000 Rows
Processed 10000 Rows
Processed 15000 Rows
Processed 20000 Rows
Processed 25000 Rows

False    25803
True      1927
Name: de_2, dtype: int64

1927 matches is a lot better! 7.5% is much higher than 1.6%. Let's look at a random sample of these rows to check the match:

In [34]:
df[df['de_2'] == True][["Surname", "Other_Names", "Affiliation", "Full_Text"]].sample(20)

,Surname,Other_Names,Affiliation,Full_Text
670,Saxton,Prof. Ren G(eorge),Oklahoma Agricultural and Mechanical College,"berlin, wis, 86. b.s, wisconsin, 09, c.e, 15; ..."
6680,Kleckner,Prof. Martin E(zra),333 E. Market St,"davis, 111, may 6, 61. a.b, heidelberg col. (o..."
25947,Gabel,Dr. Charles E(rnst),1107 Neal Ave,"milwaukee, wis, march 9, 77. 13.s,wisconsin, 9..."
10441,Kraus,Dean E(dward) H(enry),University of Michigan,"syracuse, n. y, dec. 1, 75. b.s, syracuse, 96,..."
19544,Angell,Dr. James R(owland),Yale University,"burlington, vt, may 8, 69. a.b, michigan, 90, ..."
6378,Kenrick,Prof. Frank B(oteler),77 Lonsdale Road,"send, eng. feb. 4, 74. b.a, toronto, 94, 1851 ..."
23975,Dubin,Dr. H(arry) E(nnis),250 E. 43rd St,"russia, march 4, 91. b.s, col. city of n. y, 1..."
5975,Jones,Dr. Lynds,352 W. College St,"jefferson, ohio, jan. 5, 65. grinnell col, 88-..."
10640,Laird,Prof. E(lizabeth) R(ebecca),Mt. Holyoke College,"owen sound, ont, can, dec. 6, 74. b.a, toronto..."
5637,Jellinek,E(lvin) Morton,Worcester State Hospital,"new york, n. y, aug. 15, 90. berlin; grenoble;..."
24426,Ekeley,Prof. John B(ernard),703 11th St,"orebro, sweden, jan. 1, 69. a.b, colgate, 91, ..."
11689,Lubben,Prof. R(enke) G(ustav),708 W. 22% St,"gresham, nebr, march 7, 98. a.b, texas, 21, ph..."
16588,Olsen,Prof. J(ohn) C(harles),316 Argyle Road,"galesburg, 111, july 22, 69. a.b, knox col, 90..."
1834,Slagle,Dr. E(dgar) A(pple),E(dgar) A(pple),"cessna, pa, feb. 19, 83. ph.b, franklin and ma..."
12266,Mac Lane,Dr. Saunders,5449 Woodlawn Ave,"norwich, conn, aug. 4, 09. ph.b, yale, 30;a.m,..."
17487,Phillips,Rev. Edward C(harles),Edward C(harles),"germantown, pa, nov, 4, 77. a.b, st. francis x..."
19785,Avery,Prof. George S(herman) Jr.,Jr,"benton harbor, mich, aug. 3, 03. b.s, tulane, ..."
13873,Berry,Prof. Charles W(illiam),Massachusetts Institute of Technology,"charlestown, mass, may 21, 72. b.s, mass. inst..."
20065,Ball,Prof. Oscar M(elville),College Station,"miami, mo, aug. 25, 68. oklahoma, 92-93; fello..."
26034,Ganong,Prof. W(illiam) F(rancis),Smith College,"st. john, n. b, can, feb. 19, 64.b. a, new bru..."

and just the full_texts:

In [35]:
list(df[df['de_2'] == True][["Surname", "Other_Names", "Affiliation", "Full_Text"]].sample(20)["Full_Text"])

['new york, n. y, sept. 11, 02. b.s, n. y. univ, 27, i.e. 28; a.m, fordham, 32, ph.d, 36. indust, engineer, bosch magneto co, stuttgart, germany, 28-29; otis elevator co, yonkers, n. y, 29-30; prof. psychol, villa maria col, 34-35; indust. eng. and head dept, manhattan col, 35- rep, psychol. corp, new york, 35. a.a; assoc. psychol. asn; soc. adv. management (sec’y- treas, new york chap, 36-); eng. educ; mech. eng; statist. asn. industrial and educational psychology; tests and) measurements; statistics.',
 'clinton, ind, nov. 25, 68. b.pd, mo. state teachers col; b.s, drury col; ph.b, chicago; ph.d, leipzig. teacher science, southern (ala), 03-09; supervisor german, high sch, calif, 14-18; teacher chem, birmingham-southern col, 18-20; tennessee col, 20-21; okla. baptist univ, 21-22; howard col, 22-23; prof, mercer, 23- chem. soc.',
 'bowling green, ohio, jan. 27, 00. b.s, michigan, 21, m.s, 22, ph.d, 24. instr. chem, michigan, 23-25; lecturer and heckscher research fellow, cornell, 25-26; research chemist, abbott labs, 26- chem. soc. (sec’y, med. div, 34-36, chairman, 36); chicago chemists club (pres, 37). organic derivatives of germanium; acridyl radicals; radiographic media; hypnotics; diuretics.',
 'perry, n. y, march 4, 75. a.b, syracuse, 97, a.m, 99, hon. sc.d, 20; chicago, 02; ph.d, california, 04. instr. physiol, syracuse, 99-02; asst, chicago, 02; california, 03-04; kansas, 04; asst, prof. syracuse, 05- 07, assoc, prof. 07-10, prof. 10-13; zool, oberlin col, 13- 15, comp, physiol, i5-, acting dean, 24-26, head dept, zool, 36- summers, teaching staff, marine biol. lab, woods hole, 15-30. a.a; soc. nat; physiol. soc; zool. soc; ohio acad, (v. pres, med. sci. sect, 30). effects of saline solutions upon the heart; physiology of nerve cells; fat digestion and absorption in lower animals; heat production in animal bodies; heat production during fertilization and cleavage of eggs; comparative physiology.',
 'berlin, n. y, june 11, 81. a.b, brown, 04; ph.d, yale, 11. instr. chem, yale, 06-09; pro/, baylor, 11—14; sch. med, georgia, 14- a.a; chem. soc. protein chemistry; quantitative separation of amino acids.',
 'jericho springs, mo, july 15, 92. a.b, missouri, 12, a.m, 14; ph.d, chicago, 28. asst, chem, missouri, 12-14; asst, prof. mont. state col, 22-29, assoc, prof. prof, and head dept, 31— eastman kodak co, 28-29. chem. soc. (chairman, mont, sect, 28, 30, 32); london chem. soc; deuts. chem. gesell. radioactivity in water and minerals; indophenols; color theory; organic synthesis.',
 'algona, iowa, oct. 31, 94. occidental col, 15-16; b.s, iowa state col, 17, m.s, 22, ph.d, 23; b.ed, kans. state teachers col, 26; n. y. univ, summers, 29-32, 35; france and germany, 37. teacher, high sch, iowa, 17-18; instr, iowa state col, 19-23; fellow, mellon inst, 23-25; prof, chem, kans. state teachers col, 25—26; head dept, win• throp col, 26- lieut, col, o.r.c, c.w.s. chem. soc. (past pres, s. c. sect); s. c. acad, (director). organic chemistry; food and physiological chemistry; corn; a vitamin summary; flour; chemical warfare; chlorine production; chemical education in south carolina.',
 'winchester, va, oct. 25, 88. virginia; grad, u. s. naval acad, 12; yale; c.e, va. mil. inst, 27; georgetown col, 28; sc.d, polytech. inst. brooklyn, amherst col, iowa wesleyan, 35, boston. 35; ll.d, new hampshire, 31, rutgers, 35, dartmouth, 37; non. d.e, n. y. univ, worcester polytech; hon. d.aero.sc, pa. mil. col; m.s, tufts col. in charge navy unit, navy-mcmillan exped, arctic, 25; transatlantic flight, 27; leader, byrd arctic exped, 26; exped, antarctic, 28-30, 33-35; flight to north pole, 26, south pole, 29. medal, world war; medal, mex. campaign; congressional life saving medal, 22; hubbard gold medal, nat. geog. soc, 26, special gold medal, 30; d. s. medal, u.s.n, 26; congressional medal of honor, 26; helen culver medal, geog. soc. chicago, 26, gold medal, 30; elisha kent kane medal, geog. soc. phila, 26; navy flying cross, 27; david livingstone centenary gold medal, am. geog. soc, 29; langley medal, smithsonian institution, 29; gold medal, soc. geog. de cuba, 29; gold medal, am. arbitration asn, 30; navy cross, 30; special congressional medal of honor, 30; gold medal, royal geog. soc. gt. britain, 31; gold medal, reale soc. geog. ital, 31; medal of honor, roosevelt mem. asn, 31; medal, columbia broadcasting system, 34; medal, rumanian govt, 35; gold medallion, am. indust. tribute, 36; medal, pacific geog. soc, 37. commander, mil. order of avis, govt. portugal, 21; officier, legion d’honneur, 28, commandeur,30. am. geog. soc; philos. soc; inst. aeronaut. sci; acad. nat. sci. phila; geog. soc. chicago; geog. soc. phila; pacific geog. soc; royal geog. soc; royal netherlands geog. soc; geog. soc. munich; soc. geog. de lima; russian geog. soc. geographical research; mapping and discovery of new lands*',
 'kechi, kans, dec. 15, 99. a.b, southwestern col. (kans), 21; a.m, hopkins, 25, ph.d, 28. instr. biol, n. c. col. for women, 22-24; prof, western maryland col, 24-, dean freshmen, 33- nat. research fellow, germany, 30-31. summers, bee culture lab, u. s. dept. agr, 22-30. a.a; soc. zool. molts, digestion of carbohydrates and reactions to light in honey bees; physiological and stimulative effect of ultra-violet in insects; effects of insecticides on honey bees.',
 'lisburn, ireland, march 29, 74. b.s, n. dak. col, 98; michigan, 00- 01; fellow, chicago, 02-05, ph.d, 05, m.d, rush, 08; heidelberg, 08-09. asst. prof, chem, n. dak. col, 98-02; asst, bio- chem. and pharmacol, chicago, 02-05; asst. prof, pharmacol, washington (st. louis), 06-08, acting prof, physiol, and pharmacol, 09-10; prof, pharmacol, northwestern, 10-17; pharmacol. and therapeut, col. med, illinois, 17- aid, bur. chem. and later bur. chem. and soils, u. s. dept. agr, 00- aa; soc. pharmacol; col. physicians; soc. biol. chem; physiol. soc; chem. soc; am. med. asn; inst. med. chicago. oxidizing power of cupric acetate solutions;, the condition of die sugar in the blood; glycolysis; site of the action of strychnine; action of the ultra-violet rays on nicotine; circulatory effects of potassium in relation to epinephrine.',
 'vienna, austria, march 20, 87. ph.d, munich, 13. privat-docent, munich, 20-22; prof, chem, freiburg, 22-27; director rubber dept, i. g. farben- industrie a. g. leverkusen, germany, 27-32, director org.',
 'paris, france, april 7, 91. m.d, zurich. lecturer hist, med, zurich, 21-23, prof. 24-25; leipzig, 25-32; prof. and director inst. hist, med, hopkins, 32- karl sudhoff medal, 33. a.a; halle akad. der naturforscher; fel. col. physicians madrid; cor. mem. royal soc. med. budapest; hon. mem. greek, rumanian and swiss societies med. hist; int. acad. hist. sci. history and sociology of medicine.',
 'pendleton,s.c. grad, univ. of south, 81; m.d, med. col. of s. c, 84; scott fellow, pennsylvania, 93; pasteur inst, paris, and inst. hygiene, halle, 96; inst. maragliano, genoa, 04. asst, demonstrator anat, med. col. state of s. c; lecturer diseases of children, charleston med. sch; asst, bacter, pennsylvania, 95; director lab. hygiene, princeton, 96; bacteriologist, state live stock sanit. board, pa, 97-07; lecturer bacter, vet. dept, pennsylvania, 98-03, asst. med. director and chief lab, henry phipps inst, 03-07; prof, bacter, wisconsin, 07-14; director, state hygienic lab, wis, 08-14; prof. prev. med. and bacter, missouri, 14-36, emer. prof, 36- summers, prof, california, 13- 15. ed, ‘am. jour. pub. health,’ 25. advisory board, hygienic lab, u. s. pub. health service, 14; nat. advisory health council, 31. int. cmn. bovine tuber; nat. cmn. milk standards. u. s. del, int. cong. hygiene, berlin, 08; int. cong. alimentary hygiene, brussels, 10; official rapporteur, int. am. cong, buenos aires, 10. from major to lieut-col, m.c, 17-19. pub. health asn. (director, 15-19, pres, 20); tuber. asn. (pres, 11); am. med. asn. (chairman, pub. health sect, 13); u. s. live stock sanit. asn. (pres, 13); philos. soc; wis. anti-tuber. asn. (pres, 09-14); col. physicians phila; hon. mem. cleveland acad. med; hon. fel. royal sanit. inst. tuberculosis; rabies.',
 'royersford, pa, july 6, 02. a.b,\u2003 oberlin col, 24; a.m, wisconsin, 26, ph.d, 29. instr. physics, wisconsin, 28-29; nat. research fellow, michigan, 29-31; groningen, 31; physicist, dow chem. co, 31-34, director dept, x-ray, spectros. and physical tests, 34- a.a; fel. physical soc. x-ray crystal structure and absorption spectra; industrial application of x-rays.',
 'nagykoros, hungary, may 8, 92. m.d, budapest, 19, leipzig, 22. asst. clin. dermat. and syphilis, leipzig, 20-22; instr. dermat, med. sch, northwestern, 36- fellow director, ‘annals med. mycol.’ bronze medal, int. cong. der- mat, budapest, 35. mycology; bacteriology.',
 'nottingham, eng, sept. 27,84.b. sc, leeds, 05; ph.d, strassburg, 09. demonstrator chem, manitoba, 09-10, lecturer, 10-14, asst, prof, 14-28, assoc, prof,28- fel. can. inst. chem. orgu nic chemistry.',
 ', pedagogy. hunlock creek, pa, march 22, 63. a.b, stanford, 94; jena, leipzig and paris, 94-95; grenoble and leipzig, 00-01. prof, psychol. and pedag, mass. state nor. sch, westfield, 96-08; psychol, n. j. state nor. sch, montclair, 09-25; retired. lecturer, univ. bulgaria. summers, lecturer, vermont, 14-17; illinois; co-lumbia; chicago. assoc, ed, ‘pedag. sem/ gold medal, st. louis expos, 04; paris expos, 00; silver medal, prague; order commander’s cross, bulgaria. a.a; psychol. asn; anthrop. asn; hon. mem. asn. med. officers of am. institutions for the idiotic and feeble-minded. social sense of the child; defective and normal children.',
 'staten island, n. y, nov. 27, 81. b.s, hanover col, 14; m.d, kansas, 16. head dept, urol, sch. med, kansas, 20-, prof. clin. urol, 36- consultant,federal penitentiary, leavenworth, 30. attending urologist st. luke’s hosp, kansas city; univ. hosps, kansas. fel. am! med. asn. (v. chairman, sect, urol, 36); fel. col. surg; urol. asn. (mem, exec, cmt, 36, pres, southwest, branch, 27); south. med. soc. (chairman, sect, urol, 34); neisserian soc; photog. soc; royal photog. soc. experimental work on the ureter; effect of morphine on human ureter; use of ephedrine in spinal ani; mapping pain distribution of human ureter; kidney pedicle clamp; ockerblad kidney rest; ureteral stone dis- lodger; suprapubic puncture instrument; suprapubic bladder evacuator.',
 'gallion, ala, sept. 1, 72. alabama, 87-89; b.s, miss. agr. and mech. col, 91; m.s, ala. polytech, 92; a.b, harvard, 94, a.m, 95; ph.d, cornell, 98; germany, france and italy, 99-00, 05-06. asst, director, ala. exp. sta, uniontown, 92 93; asst, bot, radcliffe col, 94-95; asst, botanist, stale lab. nat. hist, illinois, 95-96; instr. plant physiol, cornell, and asst, crypt, botanist, exp. sta, 96-00, asst, prof, 00-01; physiologist, bdr. plant indust, u. s. dept. agr, 01-02; prof, bot, missouri, 02-07; plant physiol, cornell, 07-12; plant physiol, and in charge grad, lab, washington (st. louis), and physiologist, mo. bot. garden, 12-27; prof, physiol, and econ. bot, wisconsin, 27- chairman div. biol. and agr, nat. research council, 25-26. trustee, marine biol. lab, woods hole; oceanog. inst, woods hole; bermuda biol. sta. ed. boards, ‘am. jodr. bot,’ ‘proceedings soc. exp. biol, and med.’ and ‘biol. abstracts.’ int. cong. arts and science, st. louis, 04; gen. sec’y and chairman exec, emt, int. cong. plant science, ithaca, 26. nat. acad; a.a; soc. nat; bot. soc. (v. pres, 12, 14, pres, 23); phytopath. soc; chem. soc; soc. biol. chem; soc. exp. biol; philos. soc; wis. acad; acad. nat. sci. phila. physiological pathology.',
 'barnard castle, eng, sept. 3, 01. ph.g, glasgow, 23; b.s, polytech. inst. brooklyn, 31; ph.d, zurich, 34. research chemist, e. r. squibb and sons, 28-34; hoffmann-la roche, inc, 34- chem. soc; deuts. chem. gesell. carotinoid hydrocarbons; synthetic drugs.']

and finally comparing some of the terms that matched the second time but not the first:

In [36]:
list(df.query('de_2 == True & de == False')[ "Full_Text"].sample(20))

['centralia, 111, oct. 13, 75. b.s, nebraska, 96, a. m, 97; ph.d, berlin, 00. instr. physics, nebraska, 00-02, adj. prof, 02-05, asst, prof, 05-07, assoc, prof, 07-09, prof, 09-, chairman dept, 19-20. a.a; physical soc; nebr. acad. accidental double refraction; spark potentials; discharge through gases; dielectric strength glasses and double refracting media; cathode potential; minimum spark potentials; corona-discharge currents.',
 'ports-mouth, ohio, sept. 22, 76. b.s, baldwin-wallace col, 02, lion. sc.d, 35; western reserve, 05; a.m, ohio state, 06; austin fellow, harvard, 07-08. prof, commerce and prin. sch. commerce, baldwin-wallace col, 02-05, instr. biol, 04-05; teaching fellow, ohio state, 05-06; acting head dept, zool, ohio wesleyan, 06-07; asst. prof, entom, california, 08-12, parasitol, 12-15, assoc, prof, 15-20, prof, and head div. entom. and parasitol, 20- consulting entomologist, state board health, calif. summer, visiting prof, ohio state, 30. nat. malaria cmn. chevalier du merile agricole, 35; benjamin ide wheeler medal, berkeley, calif, 37. ohio wesleyan del, int. zool. cong, boston, 07; int. hygiene exhibit, dresden, 11; pan-pacific food conservation conf, honolulu, 24: int. cong. entom, ithaca, 28. coconut pest surv, fanning and washington islands, 24. sanit. c, 18, major, lieut-col, sanit. r.c, 24- a.a; soc. nat; fel. entom. soc; asn. econ. entom. (pres, 28); soc. parasitol; soc. trop. med; calif. acad. parasitology; ecology; medical entomology; malaria- mosquito survey of california; mosquito and illy control; pajahucllo tick; spinose ear tick; photic reactions of insects: coconut pests; relapsing feycr tick.',
 "york, n. y, sept. 8, 80. ba. colombia. 01; hopktna, 01-03; ph.d, strassburg. 05; mb 06. a sat. physical cheat, colombia, 06-07, tutor s4r*««i 07 09; rosearrh aaaoc, physical cbera, man. inst. inii, (w ii; cbesaut, llarrimaa research lab, roosevelt hosp, ii x, rosaohaai. pint research lab, 25-27; chemist, harri- ss.a* mwaxl issf, i'sit. sod bellevue hosp. med. col, 29-",
 'new york, n. y, june 28, 96. b.s, col. city of n. y, 16, fellow, 17; a.m, columbia, 17; ph.d, hopkins, 21; paris, 21; d.sc, brussels, 22; gottingen and leipzig, 22; m.d, yale, 25. instr. chem, col. city of n. y,. 17; columbia, 18; prof, howard col, 18-20; research assoc, pediat, yale, 22-25; director, heckscher inst, new york. lecturer, boards educ, new york and birmingham, 18-20. pediatrician, french hosp; hosp. for ruptured and crippled;riverside hosp; broad st. hosp; new york city children’s hosp; consultant pediatrician, northwoods sanatorium, saranac lake; dobbs ferry hosp; monmouth mem. hosp, n. j; lynn mem, n. j; muhlenberg hosp, n. j. ed, ‘ostwald’s colloid chem.* a.a; fel. am, med. asn; therapeut. soc; asn. mental deficiency; physiol. soc; stomatol. asn. (adviser, pediat. research); tuber. asn; pub. health asn; soc. exp. biol; chem. soc. (v. pres, ala. sect); harvey soc; ala. tech. asn; fel. n. y. acad. dentistry; n. y. acad; soc. beige de biol; hon. mem. union med. latine; am. med. asn, vienna. chemical pediatrics; oral diagnosis; prenatal prevention of potential disease in the newborn; growth gradients in children; developmental acceleration; dietary factors in disease; blood clotting index in hemorrhagic diseases; blood buffer mechanisms; blood diseases; dental nutrition; milk physiology.',
 'whitehouae, n. j, march 31, 69. b.s, rutgers, 96, sc.d, 29; fellow, columbia, 99-00, a.m, 00, ph.d,1, john tyndall fellow, 01-03, sc.d, 29; gottingen, 01-02; cambridge, 02-03. teacher, new york, 96-99; asst, physics, columbia, 00-01, tutor, 03-07, instr, 07-09, adj. prof, 09- 13, asaoc. prof, 13-19, prof, 19-, mem. consulting board rtmerr research, 37- ernest kcmpton adams fellow, columbia,7- 09. physics div, nat. research council, 23-26. research corp. medal, 29. nat. acad; a.a; fel. physical soc; optical soc. sound waves; motion of ions in varying magnetic field; elrctrical phenomena of gases in the electrodeless discharge; coronal diwharge; radiation and ionization by impact; reflection of x-ray* from crystals; emission and refraction of x-rays; absorption and scattering of x-rays; high voltage for nuclear physics.',
 'rotterdam, netherlands, sept. 30, 94. ph.d, leiden, 22. teacher, high sch, alkmaar, 17; asst, technieche hoogeschool, delft, 17-24; int. educ. board fellow, 24-26; lecturer math. mass. inst. tech, 26-28, asst, prof. 28-31, assoc, prof. 31- teacher, high sch, amsterdam, netherlands, 26; privat-docent, utrecht, 24-30. ed. board, ‘philos, of science*; ‘jour. math, and physics.* math. soc; am. acad; hist. sci. soc; hon. mem. mex. acad; deuts. math. verein; circolo mat. di palermo; wiskundig genootschap amsterdam; ge- nootschap voor geschiedenis der genees-, natuur- und wisk- unde, leiden. differential geometry; tensor and vector calculus; probability; hydrodynamics; history of science.',
 'edinburgh, scotland, nov. 16, 05. b.a, british columbia, 26, m.a, 27; nat. research council can. bursar, mcgill, 27-28, student, 28-29, fellow, 29 30, ph.d, 30. director research. west. chem. industrie,. ltd, vancouver, 33- traveling fellow, freiburg, 30-31. chem. soc; london chem. soc; deuts. chem. gesell. polymerization of organic compounds; artificial resins; fish oils.',
 'lake- wood, ohio, march 11, 99. a.b, oberlin col, 21. asst. physics, chicago, 22-25; instr, n. y. univ, 25-30, asst, prof,30-a.a; physical soc. light; discharge of electricity through gases; gravitation.',
 'florence, italy, june 14, 07. a.b, cornell, 28; ph.d, munich, 32. asst, physics, cornell,28-30, 32-35; junior engineer electronic research, rca mfg. co, 35- physical soc; franklin inst. x-rays; theoretical physics; electronics.',
 "inarrarr, kans, jana 14, 75. a.b, stanford, •i, am. 03; input. 02; ph b. breslau. 04. a sat, stan- kri 99 01, iaatr anal. cbrm. 0102, chem, 04 06; chief ekomiag, anti weight*. naeatureo and blijtffl i analysis. bdr. v aara, p i, 04 10, dh. rbera. 10 12. aaat. director, 12, di- trrtu, if 19. ranculilag cbrm. engineer, 19-92; chief chem. d*e'. viaee oopt. age, calif, 33- chem soc. acid, nrutrolaad baste 9  — of the di&rwlllv soluble metals; oaida-•sbu aad dates isralsnu of «aal( copra aad other cocoa nut prrdscta, «|m) of litcao < kinensia ou the hardening of lime acrur; industrial alcohol; industrial resources of the philippine 11inode. wuoemie poisons; spray residue; fertilising mooaeiok. mils",
 'ashland, va, sept. 14, 71. b.s, michigan, 95; m.d, hopkins, 04; fellow, chicago, 04-05; traveling fellow from rockefeller inst, berlin, 07-08; frankfurt, 08-09; lister inst, london, 09-10. asst, path, chicago, 04-06; assoc, prof. path, and bacter, indiana, 05-07; asst, rockefeller inst, 10-13; prof, bacter. and exp. path, stanford, 13-37, emer. prof, 37- lecturer, sch. med, "washington (st. louis), 20-21. a.a; soc. exp. path; asn. path, and bact; soc. bact; soc. exp. biol; soc. immunol, (pres, 26). theoretical immunology.',
 "sabetha, kans, april 25, 84. a.b, kansas, 05, fellow, 07-09, ph.d, 10. instr. chem, kansas, 05-07; research chemist, alden speare's sons co, 09-18; fellow, mellon inst, 18-23, asst, director. 23 26, lecturer chem. and technol. of petrol, pittsburgh, 18-22, prof, and head dept, petrol, ref, sch. mines, 22-26; director research lab, universal oil products co, chicago, 26-31; re-search chemist, vacuum oil co, paulsboro, n. j, 31; director research, houdry process corp, sun oil co, 31-36; catalytic develop. co, 36- chem. soc; soc. test. mat; petrol. inst; inst. petrol. eng; kans. acad; deuts. chem. gesell; soc. franqaise de l’lndust. chim. petroleum products; refining processes.",
 'cambridge, mass, dec. 2, 02. b.s, harvard, 23, m.s, 25; lamme fellow, tech. hochschule, berlin, and univ. berlin, 30-31; ph.d, pittsburgh, 33. steam research, am. soc. mech. eng, 23-25; research engineer, engineer-in-charge and head design sch, westinghouse elec, and mfg. co, 25- 34; manager develop. dept, united eng. and foundry co, 34— lecturer, pittsburgh, 28-34. gesell. fiir angewandte math, und mech. theory of vibrations; mathematical theory of elasticity.',
 'ponape, caroline islands, march 6, 00. columbia, 19-21; berlin, 22-23; ph.d, wurzburg, 26. instr, wash. sq. col, n. y. univ, 26-27, 29-31; biophysicist, mem. hosp, cornell, 27-29; instr. nat. science, bradford junior col,31-a.a; soc. zool; n. y. acad. experimental embryology; physiological color change of fish and amphibia.',
 'newberry, s. c, july 11, 80. ph.b, north carolina, 01, ph.d, 03; leipzig,4. asst. anal, chem, north carolina, 01-03, instr. physical chem, 03-05, gen. chem, 05-09, assoc, prof, 09; soil physicist, bdr. soils, u. s. dept. agr, 09-12, in charge soil water investigations, 12-13, scientist, fertilizer investigations, and in charge soil physics investigations, 13-26, senior chemist, fixed nitrogen research lab, 26-29, senior chemist in charge nitrogenous fertilizer materials investigations, bdr. chem. and soils, 29- a.a; chem. soc. (sec’y, n. c. sect, 06-08, assoc, ed, ‘abstracts,’ 15-18); soc. agron; int. soc. soil sci. soils and fertilizers; atomic weight of thorium; phospho-platinum ammonia compounds; corrosion of iron; electrical conductivity of soil; soluble salts in soil; synthetic ammonia; ammonia absorbents; urea synthesis; ammoniation of peat.',
 'le roy, mich, nov. 7, 83. albion col; ph.b, chicago, 07, ph.d, 14; ll.d, washington (st. louis), 33, n. y. univ. 33, pittsburgh, 34, george washington, 34, syracuse, 36, oberlin col, 36, chicago, 37. from instr. to prof, chicago, 11-22; director, inst. econ, 22-28; pres, brookings institution, 28- a.a. (chairman, k, 36); econ. asn. international finance; money and banking; transportation; industrial organization.',
 'berlin, wis, july 1, 08. a.b, wisconsin, 30, a.m, 32, ph.d, 35. asst, physics, wisconsin, 30-32, asst, physiol, 32-37; research engineer, clough-brengle co, 37- physical soc. electrophysiology; audio frequency amplification technique; the electrical field around heart and muscle; cochlear potentials; alternating current impedance of human subjects.',
 'grand rapids, wis, march 16, 88. b.s, beloit col, 08; m.s, syracuse, 09; fellow, hopkins, 10-11, ph.d, 11. asst, chem, syracuse, 08-09; instr, bowdoin col, 11-12, asst, prof, 12-14; instr. physical chem, purdue, 14-15, asst, prof, 15—18; chief chemist, wood river refinery, standard oil co. of ind, 18; standard oil co. of n. j, 18-19; director exp. div, standard oil develop. co, 19- 27; manager tech, service div, standard oil co. of n. j, 27- 36, asst, to v. pres, 33-36; manager tech, service depts, standard oil develop. co, 36-, director and v. pres, 37- expert chem, u. s. dept. agr, 09-10. chem. soc; deuts. chem. gesell. lead silicates; calomel and hydrogen electrodes; application of hydrogen electrode to the study of organic compounds; petroleum technology.',
 'lexington, ind, sept. 30, 06. a.b, hanover col, 28; a.m, illinois, 30, ph.d, 33. asst, sch. med, george washington, 33; research chemist, e. i. du pont de nemours and co, 33- chem. soc. organic chemistry.',
 'kittanning, pa, nov. 9, 81. a.b, goucher col, 01; bryn mawr col, 01-03, fellow, 08-09; columbia, 03-09; zurich, 06; paris and berlin, 08. lecturer, n. y. med. col. for women, 04-07; physiol, and instr. biol, barnard col, columbia, 07-09; instr. anat. and physiol, training sch. for nurses, hopkins hosp, 11- 12; collaborator, dept, embryol, carnegie institution, 15-27, research assoc, 27- preparator zool, columbia, 03-06; lecturer, stanford, 30; investigator, mt. desert biol. lab. co-editor, ‘gen. cytop; ‘arch, fur exp. zellforsch.’ william wood gerhard gold medal, path. soc. phila, 38. asn. anat. embryology; cytology of living cells in tissue cultures; bacillus typhosus; heart muscle of chick embryos; origin of the epithelioid cells; relation of white blood cells to tumors; chicken sarcoma; behavior of malignant tissue; tuberculosis; cancer; ultramicroscopic viruses.']

This shows a lot of matches of scientists with German education but not neccesarily birth in Germany. This is positive but could be a sign we're searching too broadly.

1927 is a lot more than 436.  We can use the tf-idf method again to see if there are any more terms we can add to our list. It's unlikely to be as fruitful as the first time but there's no harm in trying.

In [37]:
tf_idf_df = tf_idf_df.merge(df[['de_2']], left_index=True, right_index=True)

In [38]:
tf_grouped_df = tf_idf_df.groupby('de_2').mean().T
tf_grouped_df.columns = ['Not Matched', 'Matched']

tf_grouped_df['diff'] = tf_grouped_df['Matched']-tf_grouped_df['Not Matched']
tf_grouped_df = tf_grouped_df.sort_values(by=['diff'], ascending=False)
tf_grouped_df.head(25)

# filter for rows where the index is not in search_terms
tf_grouped_df[tf_grouped_df.index.isin(search_terms) == False].head(25)

          Not Matched   Matched      diff
de_y         0.000000  0.240270  0.240270
chem         0.030998  0.054219  0.023221
oberlin      0.000000  0.019609  0.019609
soc          0.036316  0.054307  0.017991
gesell       0.000437  0.018112  0.017675
prof         0.036180  0.051634  0.015454
and          0.044615  0.058622  0.014007
med          0.018712  0.032180  0.013469
pres         0.012078  0.025321  0.013242
of           0.036965  0.050118  0.013153
math         0.014863  0.027767  0.012904
inst         0.014472  0.027127  0.012655
hon          0.003340  0.015403  0.012063
mem          0.005724  0.017043  0.011319
00           0.007104  0.017412  0.010308
03           0.008169  0.018211  0.010043
fellow       0.016230  0.026056  0.009826
01           0.007506  0.017298  0.009792
02           0.007787  0.017495  0.009708
hosp         0.008509  0.017996  0.009487
nat          0.010122  0.019526  0.009403
harvard      0.009717  0.019114  0.009398
08           0.010421  0.019262  0.008841
am           0.009806  0.018592  0.008785
research     0.019869  0.028628  0.008759

yeah, there's not anything particularly interesting here

<h3> 3. Expanding our Term List with a list of German Cities - <b style="color:darkred"> Poor Solution </b> </h3>

<h5> Constructing the Term List </h5>

The German government has a (modern and incomplete) list of some cities <a href="https://raw.githubusercontent.com/robbi5/german-gov-domains/master/data/domains.cities.csv"> here <a>

In [39]:
de_cities_df = pd.read_csv("https://raw.githubusercontent.com/robbi5/german-gov-domains/master/data/domains.cities.csv")

In [40]:
# Get ascii version of the cities
de_cities_df['ascii_cities']=de_cities_df.City.apply(lambda x: x.encode('ascii', 'ignore').decode('ascii'))
# Append the ascii version and the standard version to the search terms
search_terms.extend(de_cities_df.ascii_cities.tolist())
search_terms.extend(de_cities_df.City.tolist())
search_terms = [term.lower() for term in search_terms]

In [41]:
# Filter for rows where full_text contains any of the search terms
counter = 0
df['de_city_list'] = df.apply(lambda x: is_de(x['Full_Text'], search_terms), axis=1)

Processed 5000 Rows
Processed 10000 Rows
Processed 15000 Rows
Processed 20000 Rows
Processed 25000 Rows

An issue here is with German city names that are also English words, e.g: "March" or "Bell"
Limiting the usefullness of searching across the whole Full_Text

In [42]:
# Find most common items in matched_terms
Counter([item for sublist in df[df['de_city_list'].apply(lambda x: len(x) > 0)]['de_city_list'].tolist() for item in sublist]).most_common(15)

[('au', 9392),
 ('burg', 6488),
 ('march', 3620),
 ('berg', 3260),
 ('vil', 2316),
 ('rain', 2312),
 ('berlin', 2136),
 ('bell', 2052),
 ('ering', 1672),
 ('riol', 1464),
 ('sen', 1446),
 ('rust', 1186),
 ('nebra', 1112),
 ('lam', 1100),
 ('lf', 993)]

### Exporting back to Excel

In [50]:
# divide by sheetname and save to xlsx
for sheet_name in list(df['sheet_name'].unique()):
    sheet_df = df[df['sheet_name'] == sheet_name]
    # drop de and de_city_list columns
    sheet_df = sheet_df.drop(columns=['de', 'de_city_list'])
    # rename de_2 to de
    sheet_df = sheet_df.rename(columns={'de_2': 'de'})
    sheet_df.to_excel(f"matched/{sheet_name[:-5]}.xlsx", index=False)

In [20]:
df

,Ocr_Index,Page,Surname,Other_Names,Affiliation,Field,Full_Text,Indicator,sheet_name,EMPTY,Cleaning_Comments,matched_terms,de,de_2,de_city_list
0,22968.0,1200,Rogers,Prof. Charles E(dwin),33 Concord St,CIVIL ENGINEERING,"saratoga co, n. y, june 5, 74. c.e, rensselaer...",0.0,6_1200_1400,Unnamed: 9,Unnamed: 10,[],False,False,"[laer, ssel, vil, laer]"
1,22969.0,1200,Rogers,Charles F(letcher),University Farm,BIOCHEMISTRY,"denver, colo, june 15, 02. a.b, nebr. wesleyan...",0.0,6_1200_1400,,,[],False,False,[]
2,22970.0,1200,Rogers,Prof. C(harles) G(ardner),378 Reamer Place,PHYSIOLOGY,"perry, n. y, march 4, 75. a.b, syracuse, 97, a...",0.0,6_1200_1400,,,[berlin],False,True,"[berlin, berlin, march, berlin, march]"
3,22971.0,1200,Rogers,Charles H(enry),,,,0.0,6_1200_1400,,,[],False,False,[]
4,22972.0,1200,Rogers,Prof. Charles (Herbert),University of Minnesota,CHEMISTRY,"belleville, 111, may 28, 89. ph.c, st. louis c...",0.0,6_1200_1400,,,[],False,False,"[bell, bell, bel, vil, bell, bell]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27725,12005.0,599,Harries,Dr. F(ord) H(owell),Box 1100,ENTOMOLOGY,"salt lake city, utah, aug. 2, 03. a.b, utah, 2...",0.0,6_200_600,,,[],False,False,"[au, au]"
27726,12006.0,599,Harriman,N(orman) F(ollett),U. S. Treasury Depart-ment,CHEMICAL ENGINEERING,"cameron, mo, jan. 12, 78. chief chemist and en...",0.0,6_200_600,,,[],False,False,[sen]
27727,12007.0,599,Harrington,Arthur W(illiam),526 Federal Bldg,HYDRAULIC ENGINEERING,"watertown, n. y, june 7, 88. c. e, cornell, 09...",0.0,6_200_600,,,[],False,False,"[au, flo, riol, sen, vil, au, riol]"
27728,12008.0,599,Harrington,Prof. Carlos E(Imer),University of Buffalo,"MATHEMATICS, ENGINEERING","buffalo, n. y, feb. 9, 92. m.e, cornell, 18; m...",0.0,6_200_600,,,[],False,False,[bel]
27729,12009.0,599,Harrington,Daniel,3153 19th St,MINING ENGINEERING,"denver, colo, april 26, 78. e.m, colo. sch. mi...",0.0,6_200_600,,,[],False,False,"[horn, horn]"