In [73]:
import pandas as pd
import os

from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

from collections import Counter

### Classifying Scientists
Aim: To classify Scientists into those with links to Germany and those without links to Germany.

<b> First Loading in each xlsx into 1 dataframe </b>

Loading the excel sheets into dataframes, fixing the column names and adding a column to indicate the source file.

[ The Ocr_Index is a guess - it's not defined for manually inserted rows so am assuming it's from the OCR process(?) - won't matter either way. ]

In [74]:
cols = ['Ocr_Index', 'Page', 'Surname', 'Other_Names', 'Affiliation', 'Field', 'Full_Text', 'Indicator', 'sheet_name', 'EMPTY', 'Cleaning_Comments']
# get all xls in the folder
sheet_paths = [f for f in os.listdir(
    '.') if os.path.isfile(f) and f.endswith('.xls')]
dfs = []
for sheet_path in sheet_paths:
    df = pd.read_excel(sheet_path)

    df.loc[-1] = df.columns.tolist() # the sheets have no header, so pandas is using the first row as header
    df.index = df.index + 1  # so we have to re-add the columns as the first row
    df.sort_index(inplace=True)

    df_cols = cols[:len(df.columns)] # then fill in the correct column names
    df.columns = df_cols

    dfs.append(df)
# concat all dataframes
df = pd.concat(dfs, ignore_index=True)
df.head(3)

,Ocr_Index,Page,Surname,Other_Names,Affiliation,Field,Full_Text,Indicator,sheet_name,EMPTY,Cleaning_Comments
0,22968.0,1200,Rogers,Prof. Charles E(dwin),33 Concord St,CIVIL ENGINEERING,"Saratoga Co, N. Y, June 5, 74. C.E, Rensselaer...",0.0,6_1200_1400,Unnamed: 9,Unnamed: 10
1,22969.0,1200,Rogers,Charles F(letcher),University Farm,BIOCHEMISTRY,"Denver, Colo, June 15, 02. A.B, Nebr. Wesleyan...",0.0,6_1200_1400,NaN,NaN
2,22970.0,1200,Rogers,Prof. C(harles) G(ardner),378 Reamer Place,PHYSIOLOGY,"Perry, N. Y, March 4, 75. A.B, Syracuse, 97, A...",0.0,6_1200_1400,NaN,NaN

and just fixing str types and making Full_Text lower case

In [75]:
# Converting NaNs and other to empty strings
df = df.fillna('')

df['Full_Text'] = df['Full_Text'].str.lower()

<img src="https://raw.githubusercontent.com/FM-ds/FM-ds.github.io/main/misc_resource/men_of_science.png"> </img>

## First Approach: Just search for 'Germany', 'German' and 'Deutschland' etc
This is easy, and should be a good start.  There are likely unlabeled Germans in the dataset but unsure how many so far. Doing this will yield a list of institutions which can be searched for in futher steps

e.g: if a "Gortmund, Germany" is found, then scientists with just "Gortmund" later on can be classified as German

In [76]:
search_terms = ["German", "Germany", "Deutschland"]
search_terms = [term.lower() for term in search_terms]

In [77]:
def is_de(full_text, search_terms):
    global counter
    counter+=1
    if(counter%5000==0):
        print(f"Processed {counter} Rows")
    matched_terms = []
    for term in search_terms:
        if term in full_text:
            matched_terms.append(term)
    return matched_terms

In [78]:
# Filter for rows where full_text contains any of the search terms
counter = 0
df['matched_terms'] = df.apply(lambda x: is_de(x['Full_Text'], search_terms), axis=1)
df['de'] = df.apply(lambda x: len(x['matched_terms']) > 0, axis=1)
df['de'].value_counts()

Processed 5000 Rows
Processed 10000 Rows
Processed 15000 Rows
Processed 20000 Rows
Processed 25000 Rows

False    27267
True       463
Name: de, dtype: int64

Here we've only matched 436 of the 27,000 - around 1.7% which is almost definitely an undercount.
However, if we compare term frequencies in matched rows with non-matched rows we can gain an insight into other terms to consider.

We can do this by using term frequency-inverse document frequency (tf-idf) which is a measure of how important a term is to a document in a collection or corpus.  If we find tf-idf for each full-text row, we can compare the tf-idf of the matched rows with the non-matched rows.

In [79]:
# Find term counts in de=True rows
# Calculate tf–idf for rows with German and non-German matches
v = TfidfVectorizer()
tf_idf = v.fit_transform(df['Full_Text'])

Now We can put this in its own data frame to find the 10 terms in the matched rows and the top terms in the non-matched rows. This takes about 40 seconds to run on my laptop.

In [80]:
tf_idf_df = pd.DataFrame(tf_idf.toarray(), columns=v.get_feature_names())
tf_idf_df.head(3)
# Merge de from df with tf_idf_df
tf_idf_df = tf_idf_df.merge(df[['de']], left_index=True, right_index=True)

tf_grouped_df = tf_idf_df.groupby('de_y').mean().T
tf_grouped_df.columns = ['Not Matched', 'Matched']

tf_grouped_df['diff'] = tf_grouped_df['Matched']-tf_grouped_df['Not Matched']
tf_grouped_df = tf_grouped_df.sort_values(by=['diff'], ascending=False)
tf_grouped_df.head(25)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

There aren't any huge surprises here but probably sensible to start grabbing terms from this list to build a bigger list.

### 2. Expanding our Term List with the tf-idf Insights

From this list I've selected ~35 terms that are unambiguous and are likely to be good indicators of German scientists. Let's expand our search to include these terms and see how many more we can find.

In [83]:
new_terms = ['germany',  'berlin',  'german',  'munich',  'gottingen',  'deuts',  'hamburg',  'heidelberg',  'hochschule',  'freiburg',  'breslau',  'kiel',  'karlsruhe',  'stuttgart',  'darmstadt',  'leipzig',  'baden',  'tubingen',  'dresden',  'cologne',  'erlangen',  'montefiore',  'strassburg',  'wiesbaden',  'charlottenburg',  'hanover',  'chemnitz',  'bielefeld',  'konigsberg',  'gnissau',  'bavarian',  'eberswalde',  'schoeneberg',  'braunschweig'] 
search_terms = list(set(search_terms + new_terms))

In [84]:
# Filter for rows where full_text contains any of the search terms
counter = 0
df['matched_terms'] = df.apply(lambda x: is_de(x['Full_Text'], search_terms), axis=1)
df['de_2'] = df.apply(lambda x: len(x['matched_terms']) > 0, axis=1)
df['de_2'].value_counts()

Processed 5000 Rows
Processed 10000 Rows
Processed 15000 Rows
Processed 20000 Rows
Processed 25000 Rows

False    25803
True      1927
Name: de_2, dtype: int64

1927 matches is a lot better! 7.5% is much higher than 1.6%. Let's look at a random sample of these rows to check the match:

In [85]:
df[df['de_2'] == True][["Surname", "Other_Names", "Affiliation", "Full_Text"]].sample(20)

,Surname,Other_Names,Affiliation,Full_Text
19336,Alsberg,Dr. C(arl) L(ucas),Calif. ‘. ^@,"new york, n. y, april 2. 77. a ll, colrnn- .'k..."
15837,Mumford,Dr. F(rederick) B(lackmar),812 College Ave,"moscow, mich, may 28, 68. b.s, mich. state col..."
19821,Babcock,Prof. H(arold) L(ester),Woodleigh Road,"holliston, mass, may 30, 86. worcester polytec..."
6842,Koffka,Prof. K(urt),57 Crescent St,"berlin, germany, march 18, 86. edinburgh; frei..."
26106,Garrey,Prof. W(alter) E(ugene),Vanderbilt University School of Medicine,"reeds- ville, wis, april 7, 73. b.s, lawrence ..."
1219,Senior,Dr. James K(uhn),5612 Kenwood Ave,"cincinnati, ohio, sept. 15, 89. a.b, harvard, ..."
13283,Miles,Dr. Catharine Cox (Mrs. Walter R(ichard) Miles),Yale University,"san jose, calif, may 20, 90. a.b, stanford, 12..."
25076,Fernelius,Dr. W(illis) Conrad,Ohio State University,"riverdale, utah, aug. 7, 05. a.b, stanford, 26..."
21406,Cavett,Dr. J(esse) W(illiam),Dr. Salsbury’s Laboratories,"kent. ind, march 6, 00. a.b, hanover col. (ind..."
27050,Griffiths,Dr. Francis P(riday),Oregon State Agricultural College,"seattle, wash, july- 12, 04. b.s, washington (..."
19922,Bailey,Prof. J(ames) R(obinson),University of Texas,"houston, texas, dec. 11, 68. a.b, texas, 91; p..."
12797,Marx,Dr. Lore,University of Michigan,"karlsruhe, germany, 99. inst. tech, karlsruhe,..."
571,Sandstrom,Prof. W(illiam) M(artin),University Farm,"devils lake, n. dak, oct. 9, 97. a.b, st. olaf..."
17104,Pawlowskl,Prof. Felix W(Iadyslaw),University of Michigan,"near warsaw, poland, july 23, 76. m. and e.e, ..."
24866,Fairbank,H(erbert) S(inclair),U. S. Department of Agri-culture. Washington,"baltimore, md, sept. 16, 88. c.e, cornell, 10...."
19523,Andrews,Prof. E(than) A(llen),Johns Hopkins University,"new york. n. y, sept. 10. 59. ph.b, yale, 81, ..."
6051,Joy,Alfred H(arrison),Mt. Wilson Observatory,"greenville, 111, sept. 23, 82. ph.b, greenvill..."
12771,Martin,Prof. R(obert) Earl,Hanover,"monroe co, ind, aug. 18, 94. a.b, indiana, 17;..."
1442,Shepard,Dr. N(orman) A(rthur),93 Old Church Road,"new haven, conn, april 8,90. ph.b, yale, 10, p..."
3466,Harrington,Dr. Elmer A(dna),6409 Beachwood Drive,"winchendon, mass, oct. 7, 84. a.b, clark, 05, ..."

and just the full_texts:

In [86]:
list(df[df['de_2'] == True][["Surname", "Other_Names", "Affiliation", "Full_Text"]].sample(20)["Full_Text"])

['wirballen, russia, aug. 18, 83. m.d, n. y. univ, 08, fellow, 08-09; munich, 11. instr. pharmacol, univ. and bellevue hosp. med. col, 08-09; asst, physiol, med. col, cornell, 09-11; instr. physiol, chem, pennsylvania, 11-13, asst, prof, 13-15; prof. clin. med, fordham, 17-20; attending physician, montefiore hosp. lecturer, med. col, cornell, 18-19; consulting physician, lenox hill hosp. am. med. asn; physiol. soc; soc. biol. chem; soc. exp. biol; harvey soc; n. y. acad. med. diseases of metabolism; physiology of the kidney; kidney and adrenal products; blood pressure; influence of adrenalin; gluconeogenesis; nephritis; psoriasis; diabetes; carbohydrate and protein metabolism; diagnosis of diseases of metabolism; insulin in treatment of, and surgery in diabetes.',
 'boissevain, man, can, aug. 10, 96. b.a, sa.katche wan, 23, m.a, 25; california; berlin; ph.d, cornell, 30 a«t rust research, saskatchewan, 25-26; hot. california. 2h28. independent research, 28- research grant. am. arad. sc*. 34-35; lab, hopkins, 37-38. cytology of crown ru*t on oat*; chromosome number and morphology in nicotiana ; ebrnmovome number and embryology in the genera mentha and lyeopta*; smuts of barley and loose smut of wheat; chromoaumc «truc ture; colchicine for production of polyploidy.',
 'arcade, n. y, jan. 5, 93. a.b, oberlin col, 16; m.s, chicago, 17, fellow, 18-19, ph.d, 19. instr, high sch, iii, 20; biol, goucher col, 20-23, asst, prof, 23-34, assoc, prof, 34- a.a; bot. soc. ray system of quercus; stem anatomy of dioon spinulosum; seed-ling anatomy and embryology of the juglandaceae and faga- ceae.,',
 'waverly, n. y, nov. 15, 04. ch.b, cornell, 27, ph.d, 30. research chemist, am. can co, maywood, iii,27-chem. soc. chemical spectroscopy; uranium as an activator; spectrographic detection of fluorine; separation of gallium from iron; quantitative determination of germanium in silicate minerals.',
 'brook- lyn n. y. sept. 23. 05. a.b. columbia, 2o, a.m, 26; ph.d, brvn mawr col, 29. asst. harvard, 29-34; am. asn. umv. women fellow. munich, 34-35; research chemist, exp. sta, her- cities pouder co. 35- chem. soc. benzanthraquinones; structure of dilorophyl; bile acids.',
 "north bridimm, mass, sept. 29, 63. a.b, tewwa. a.m. 90; phd, konkina, 92. asst, biol, hopkins ft mill name. prof, cellular biol, brown, 93-96; biologist. exp. fna, r. i mala cal, 96-01; director, sharon biol. observatory, 0| 03, tn chsige mammal and bird reservations bdr. biol.smv. v. 5. dept age, 16 19, collaborator. 31- smithsonian sta. and munich, 92 93 instr, mass inst. tnh. 01 02. •<!•>■><? rent. dept. biol. and pub. health. 23-; h«i irgni. cna. on lidirtin and came, mass 03. chairman, tt-mjbrnnl ministry of marian, 19 21; mem. pollution emt, : t mmi on outdoor recreation. soc. nnt; soc. matksusl. mm audubon soc; british a*n. morphology and ■hfsaniagy of sehinodurms; plnnktology; biology of birds edi- m* hfc and shrllhsh; factor, which <l'-irrminc wx and the min alary son charnctarbtics; removal from drinking water of ■4»ss sod tsitrs duo to micro-organisms; effects of various «l milrf and soils; nconomic utilization of biologic (^lln #| miuva",
 'new york. n. y, sept. 10. 59. ph.b, yale, 81, 82; polytech, hanover, 83; fellow, hopkins, 84-86, ph.d, 87. aeet, 1). s. kiwi, cmn, 79-81; blot. hopkins, 87-92, assoc, prol, 92-08, pro(. 08-30, rmer. prof, 30- a.a; soc. nat; soc. zw>l. (v. pres. 01, pres, 04). anatomy and embryology ol invertebrates.',
 'salisbury, n. c, june 17, 77. a.b, north carolina, 98, a.m, 99, ph.d, 01; chicago, 01, fellow, 02-03, ph.d, 15; paris, 11; hon. d.c.l, univ. of the south, 17; ll.d, tulane, 20; cambridge and berlin, 10-11, 23-24. instr. math, north carolina, 98-02, assoc, prof, 02-08, prof, pure math, 08-20, kenan prof. math, and head dept, 20- holt math, medal. a.a; math. soc; math. asn; elisha mitchell sci. soc. (pres, 08); n. c. acad, (pres, 23) ; circolo mat. di palermo. the cubic surface; modern geometry; the theory of relativity.',
 'boston, mass, jan. 18, 88. b.s, mass. inst. tech, 09; ph.d, leipzig, 13. research chemist, u. s. rubber co, 13-14; standard oil co. of n. y, 14-18; goodyear tire and rubber co, 18-27; rohm and haas, 26-chem. soc. (sec’y-treas, akron sect, 23-26, sec’y, local sect, officers, 26, chairman, phila. sect, 31). rubber chemistry.',
 'new haven, conn, april 8,90. ph.b, yale, 10, ph.d, 13. instr. chem, yale, 13-17, asst, prof. director chem. research, firestone tire and rubber co, 19-36; tech, service, am. cycmamid co, 36- a.a; chem. soc. (chairman, akron sect, 24, rubber div, 35-); inst. chem; soc. chem. indust; chem. eng; london chem. soc; deuts. chem. gesell; deuts. physik. gesell; soc. chim. de france. organic chemistry; synthesis; amines; cyclic nitrogen compounds; industrial poisons; vulcanization and aging of rubber; tire fabrics; carbon black; chemical education.',
 'oak hill, n. y, dec. 25, 71. a.b, yale, 96, ph.d, 99. asst, to prof. gooch, yale, 96-99; pres, china chem. industries, shanghai; director, chem. construction corp; indust. processes develop, ltd; consulting chem. engineer. engineer, construction of chem. plants in u. s, china, norway, poland, czechoslovakia, germany, france, belgium, japan. russia and hungary. mem. am. econ. missions to japan, china and philippines, 35. chem. soc. (cmt. on chem. warfare) ; deuts. chem. gesell. estimation of boric acid; coal and its by-products; coal mining; dyestuffs and intermediates; synthetic ammonia.',
 'brooklyn, n. y, 0<-t. .3, 78. cooper union, 00; ph.d, munich, 02; m.d, ceorgc washington, 10; sc.d, dallas, 20. tech, biologist and sanit. engineer, 0.3 06; instr. chem, george washington, 07; physiol, chemist, exp. sta, maryland, 07-09; specialist bio- chcm, office exp. stations, u. s. dept. agr, 09-15; assoc, prof, path, cheni,^ georgetown, 12-15; prof, physiol, and biochem, rordham, 15 16; pliarmacol, baylor, 16-17, physiol, and phar- niarol, 18-19, physiol, pharmacol. and biochem, 19-20; biol, dallas, 19 25; consulting physician, 22- sch. aviation med, u s a. 25. med. field service sch, 28. m.o.r.c, 17-, lieut. col, 31 . flight examiner div. aviation med, a.s, u.s.a, 25— chem. soc. (mem, cmt. on occupational diseases in chem. trades. 19, chairman, 20-27, chairman, cmt. on indust, toxico],27) ; fel. am. med. a*n; pub. health asn. plant and animal i hi-mi-try and physiology; pharmacology; diseases of metabolism and of the digestive system; industrial toxicology.',
 'providence, r. i, dec. 10, 74. ph.b, brown, 95, a.m, 96; phd, berlin, 00. instr. math, brown, 95-97; physics, wesleyan, 02-03, assoc, prof, 03-07, prof, 07- magnetic observer, u. s. coast and geod. surv, 00-02. summer, prof, columbia, 20. board editors, ‘physical rev,’ 24-26. morris lfchmawn mem. prize, inst. radio eng, 28; duddell medal, physical soc. london, 37. div. physical sciences, nat. research council, 35-37. lieut, commander, u.s.n.r. a.a. (emt, b, 24-27); fel. physical soc. (chairman, northeast. sect, 34); optical soc; elec. eng; fel. radio eng. (chairman, conn. valley sect, 26-28, mem. board editors, ‘proc,’ 28, chairman, 29, pres, 32); am. acad. cathode rays; magnetic dedinograph; electric arc; electric oscillations; piezoelectric resonator and oscillator.',
 "cleveland, ohio, on. 26, 68. a.b, dartmouth col, 92, a.m, 94, sc.d, 32; i.l.b, western reserve, 94. practising lawyer, 94-99; chairman, the ff'il- liamson co. trustee, cleveland museum nat. hist; director baldwin bird research lab, ohio; research assoc. western reserve. a.a; soc. nat; fel. ornith. onion; sue. zool; ecol. soc; genetic asn; fel. geol. soc; inland, east, northeast, and west. bird-banding asn. (hon. pres); ohio acad; british ornith. union; deuts. ornith. gesell; australasian ornith. union. geology of lake champlain, muir glacier, snake river and new mexico; bird banding; daily life of birds; physiology of bird temperature; measurement of birds.",
 'philadelphia, pa, april 9, 76.a. b, bryn mawr col, 99, fellow, 07-08; leipzig, 06-07; fellow, yale, 15-16, ph.d, 16. prof, chem, pa. col. for women,99- 06; instr, mt. holyoke col, 08-14, assoc, prof, 14-16, prof,16- chem. soc; deuts. chem. gesell. grignard addition to unsaturated ketones; isomerism of derivatives of cyclopropane; hydantoins; iso-sulfo-cyanids; chemical solubilities; isomerization in the hydantoin series; catalytic oxidation of organic compounds in the vapor phase; imino-dibasic acids.',
 'colaba, bombay, india, dec. 17, 61. univ. col. sch, london, 72-75; hon. sc.d, pittsburgh, 95, toulouse, 22; hon. a.m, harvard, 06; hon. d.e, darmstadt tech. hochschule, 36. electrician, east. teleg. co, london, 76-86; prin. elec. asst, to thomas a. edison, 86—94; consulting engineer, phila, 94-02; prof. elec, eng, harvard, 02-03, emer. prof, 30—; prof, mass. inst. tech, 13- 25, chairman faculty, 17—19, enter, prof, 30- consulting elec, engineer, gen. elec. co, 90-94; exchange prof, univs, france, 21; lecturer, univs, japan, 31. elec, juries, phila. export expos, pan-am. expos, and la. purchase expos; pres, u. s. nat. emt, int. electrotech. cmn, 10, scc’y, 10-22, hon. sec’y, 19-35, hon. pres, 35-, pres, int. cmt. elec, and magnetic magnitudes and units, 28-; int. ilium. cmn, berlin, 13. two premiums of merit, british inst. elec. eng; longstreth and potts medals, franklin inst, 17; chevalier, legion d’honneur, 22; gold medal, inst. radio eng, 32; edison medal, 34; mas- cart medal, soc. franchise des elec, 36. v. pres, int. elec. cong, paris, 00, 32, gen. scc’y, st. louis, 04; hon. pres, int. sci. radio union, 34. civilian liaison officer, sig. c, 18. nat. acad; a.a. (chairman, m, 24); elec. eng. (past pres); radio eng. (past pres); ilium. eng. soc. (past pres); math. soc; physical soc; hon. fel. electro-therapeut. asn; philos. soc; franklin inst; am. acad. (y. pres, chairman, rumford cmt); astron. soc. pacific; hon. mem. n. y. elec. soc; cor. mem. british asn; fel. royal astron. soc; hon. mem. british inst. elec. eng; bon. mem. elek. verein; hon. mem. soc. fran^aise des elec; hon. mem. japanese inst. elec. eng. magnetics in engineering; alternating electric currents.',
 'new york, n. y, nov. 27, 84. b.s. n. y. univ, 07. a.m. 08; d. ing, karlsruhe, 10. re search chemist, research lab, gen. elec. co, 10- a.a; chem. soc; physical soc. kinetics of reactions; incandescent lamps; x-ray spectroscopy; electrical discharges.',
 'milledgeville, ga, dec. 4, 67. ph.b, georgia, 86, hon. ll.d, 28; ph.d, hopkins, 90; berlin, 99; zurich, 00; hon. sc.d, colgate, oglethorpe; hon. d.chem, pittsburgh; ll.d, north carolina, 34, florida, 37. asst, chemist, exp. sta, georgia, 90-91, instr. chem, univ, 91-94, adj. prof, 94-02; collaborator, bur. forestry, u. s. dept. agr, 01-02, expert, 02-04; chattanooga pottery co, 04-05; prof, chem, north carolina, 05-16, dean sch. applied science, os- 11; ed, ‘jour. indust, and eng. chem,’ 16-21; pres, synthetic org. chem. mfrs. asn. of u. s, 21-26; adviser, chem. foundation, inc, 26-28; indust, consultant, new york, 28-35; research chemist in charge pulp and paper lab, indust. cmt. of savannah, 32- physical director, georgia, 93-99; deputy administrator, nat. recovery admin, 33-34; edgar fahs smith mem. lecturer, pennsylvania, 37. medal, am. inst. chem, 32; herty medal, am. chem. soc, 34. a.a. (sec’y, c, 08); chem. soc. (councilor, pres, 15); inst. chem; soc. foresters; forestry asn; chem. eng; soc. chem. indust; electrochem. soc; eng. educ; philos. soc; franklin inst; london chem. soc; soc. de chim. indust; soc. chim. de france. double and mixed double halids; constitution of inorganic compounds by physicochemical methods; a new method of turpentine orcharding; the determination of oil in cotton seed products; oleo- resins; dyestuffs; reforestation; white paper from pines.',
 "new wash-ington, ohio, april 22, 81. b.s, case, 05; met.e, harvard, 13. chemist, dom. iron and steel co, sydney, n. s, can, 05; carnegie steel co, 06; chief chemist, salem iron co, lee- tonia, ohio, 06-07; cleveland furnace co, 07-09; crowell and murray, 09-11; asst, metal, to prof. albert sauveur, harvard, 12-13; metal, engineer, youngstown sheet 'and tube co, 13- 29, director metal, and research, 29- am. iron and steel inst; min. and metal. eng; soc. metals; soc. test. mat. (exec, cmt, 30-32); standards asn; asn. steel manufacturers (pres, 28-30); welding soc. (director) ; iron and steel inst. gt. britain; british inst. metals; verein deuts. eisen- huttenleute. steel making.",
 'asbury park, n. j. march 11. 07 b.s, brown, 27, m.s, 28, ph.d, 31. chrmi*t, chem. d»». ammonia dept, e. i. du pont de nemours and co. 30-33; instr. org. and gen. chem, cooper union, 33- chem. soc. metallo-organic chemistry, especially phenyl-germanium compounds.']

it looks good! 1927 is a lot better than 436.  We can use the tf-idf method again to see if there are any more terms we can add to our list. It's unlikely to be as fruitful as the first time but there's no harm in trying.

In [89]:
tf_idf_df = tf_idf_df.merge(df[['de_2']], left_index=True, right_index=True)

In [92]:
tf_grouped_df = tf_idf_df.groupby('de_2').mean().T
tf_grouped_df.columns = ['Not Matched', 'Matched']

tf_grouped_df['diff'] = tf_grouped_df['Matched']-tf_grouped_df['Not Matched']
tf_grouped_df = tf_grouped_df.sort_values(by=['diff'], ascending=False)
tf_grouped_df.head(25)

# filter for rows where the index is not in search_terms
tf_grouped_df[tf_grouped_df.index.isin(search_terms) == False].head(25)

          Not Matched   Matched      diff
de_y         0.000000  0.240270  0.240270
chem         0.030998  0.054219  0.023221
oberlin      0.000000  0.019609  0.019609
soc          0.036316  0.054307  0.017991
gesell       0.000437  0.018112  0.017675
prof         0.036180  0.051634  0.015454
and          0.044615  0.058622  0.014007
med          0.018712  0.032180  0.013469
pres         0.012078  0.025321  0.013242
of           0.036965  0.050118  0.013153
math         0.014863  0.027767  0.012904
inst         0.014472  0.027127  0.012655
hon          0.003340  0.015403  0.012063
mem          0.005724  0.017043  0.011319
00           0.007104  0.017412  0.010308
03           0.008169  0.018211  0.010043
fellow       0.016230  0.026056  0.009826
01           0.007506  0.017298  0.009792
02           0.007787  0.017495  0.009708
hosp         0.008509  0.017996  0.009487
nat          0.010122  0.019526  0.009403
harvard      0.009717  0.019114  0.009398
08           0.010421  0.019262  0.008841
am           0.009806  0.018592  0.008785
research     0.019869  0.028628  0.008759

yeah, there's not anything particularly interesting here

<h3> 3. Expanding our Term List with a list of German Cities - <b style="color:darkred"> Poor Solution </b> </h3>

<h5> Constructing the Term List </h5>

The German government has a (modern and incomplete) list of some cities <a href="https://raw.githubusercontent.com/robbi5/german-gov-domains/master/data/domains.cities.csv"> here <a>

In [93]:
de_cities_df = pd.read_csv("https://raw.githubusercontent.com/robbi5/german-gov-domains/master/data/domains.cities.csv")

In [99]:
# Get ascii version of the cities
de_cities_df['ascii_cities']=de_cities_df.City.apply(lambda x: x.encode('ascii', 'ignore').decode('ascii'))
# Append the ascii version and the standard version to the search terms
search_terms.extend(de_cities_df.ascii_cities.tolist())
search_terms.extend(de_cities_df.City.tolist())
search_terms = [term.lower() for term in search_terms]

In [100]:
# Filter for rows where full_text contains any of the search terms
counter = 0
df['de_city_list'] = df.apply(lambda x: is_de(x['Full_Text'], search_terms), axis=1)

Processed 5000 Rows
Processed 10000 Rows
Processed 15000 Rows
Processed 20000 Rows
Processed 25000 Rows

An issue here is with German city names that are also English words, e.g: "March" or "Bell"
Limiting the usefullness of searching across the whole Full_Text

In [101]:
# Find most common items in matched_terms
Counter([item for sublist in df[df['de_city_list'].apply(lambda x: len(x) > 0)]['de_city_list'].tolist() for item in sublist]).most_common(15)

[('au', 18784),
 ('burg', 12976),
 ('march', 7240),
 ('berg', 6520),
 ('vil', 4632),
 ('rain', 4624),
 ('bell', 4104),
 ('berlin', 3560),
 ('ering', 3344),
 ('riol', 2928),
 ('sen', 2892),
 ('rust', 2372),
 ('nebra', 2224),
 ('lam', 2200),
 ('lf', 1986)]