In [57]:
import pandas as pd
import numpy as np
import json

### A Different Way

In [74]:
world= json.load(open('/Users/finn/Downloads/mapBodge/110m.json'))
ids = json.load(open('/Users/finn/Downloads/mapBodge/dataWorldCountryNamesIDs.json'))
ids = {d['name']:d['id'] for d in ids}
st_df = pd.read_csv('/Users/finn/Downloads/mapBodge/Sales Tax CSV.csv')
vat_df = pd.read_csv('/Users/finn/Downloads/mapBodge/VAT CSV.csv')

In [75]:
# make ids column with Country from ids dict
st_df['id'] = st_df['Country'].map(ids)
vat_df['id'] = vat_df['Country'].map(ids)

In [81]:
# get all ids from world['objects']['countries']['geometries']
ids_world = [int(d['id']) for d in world['objects']['countries']['geometries']]

In [85]:
#insert blank rows for ids not in st_df
for i in ids_world:
    if i not in st_df['id'].values:
        st_df.loc[len(st_df)] = [np.nan, np.nan, i]

In [100]:
st_df[st_df['Sales_Tax'] == ""]

Empty DataFrame
Columns: [Country, Sales_Tax, id]
Index: []

In [91]:
#insert blank rows for ids not in st_df
for i in ids_world:
    if i not in st_df['id'].values:
        st_df.loc[len(st_df)] = [-1, -1, i]
    if i not in vat_df['id'].values:
        vat_df.loc[len(vat_df)] = [-1, -1, -1, -1, i]

In [101]:
st_df[st_df['Country'] == "Turkey"]

    Country  Sales_Tax  id
165  Turkey       18.0 NaN

In [98]:
st_df['Sales_Tax'].value_counts()

15.0    29
18.0    22
10.0    18
20.0    18
21.0     9
16.0     9
19.0     9
5.0      7
12.0     6
13.0     5
17.0     5
14.0     4
25.0     4
24.0     3
7.0      3
22.0     3
23.0     3
7.7      2
11.0     2
9.0      2
12.5     2
3.0      1
20.8     1
2.0      1
27.0     1
19.5     1
50.0     1
17.5     1
16.5     1
7.5      1
4.5      1
18.9     1
8.0      1
0.0      1
14.5     1
Name: Sales_Tax, dtype: int64

In [102]:
st_df.to_csv('/Users/finn/Documents/GitHub/data/e4e6/Uncleaned Data/st.csv', index=False)
vat_df.to_csv('/Users/finn/Documents/GitHub/data/e4e6/Uncleaned Data/vat.csv', index=False)

In [60]:
world['objects']['countries']['geometries'][0]

{'type': 'Polygon', 'arcs': [[0, 1, 2, 3, 4, 5]], 'id': '004'}

In [66]:
for country in world['objects']['countries']['geometries']:
    country['properties'] = {
        'foo': 'bar'
    }

In [61]:
for country in world['objects']['countries']['geometries']:
    id = int(country['id'])
    country['properties'] = {}
    if id in ids:
        country_name = ids[int(country['id'])]
        country['properties']['name'] = country_name
        if len(vat_df[vat_df['Country'] == country_name]['Standard_VAT']) == 0:
            print('no vat for', country_name)
            country['properties']['VAT'] = -1
        else:
            country['properties']['VAT'] = vat_df[vat_df['Country'] == country_name]['Standard_VAT'].values[0]
        if len(st_df[st_df['Country'] == country_name]['Sales_Tax']) == 0:
            print('no sales tax for', country_name)
            country['properties']['Sales_Tax'] = -1
        else:
            country['properties']['Sales_Tax'] = st_df[st_df['Country'] == country_name]['Sales_Tax'].values[0]
    else:
        country['properties']['name'] = 'missing'
        print('no id for', id)

no vat for Antarctica
no sales tax for Antarctica
no vat for French Southern Territories
no sales tax for French Southern Territories
no vat for Bolivia (Plurinational State of)
no sales tax for Brunei Darussalam
no sales tax for Congo, Democratic Republic of the
no id for -99
no vat for Falkland Islands (Malvinas)
no sales tax for Falkland Islands (Malvinas)
no sales tax for Guinea-Bissau
no sales tax for Greenland
no sales tax for Iraq
no sales tax for Korea, Republic of
no id for -99
no sales tax for Kuwait
no sales tax for Liberia
no sales tax for Libya
no vat for Moldova, Republic of
no sales tax for Moldova, Republic of
no sales tax for North Macedonia
no vat for New Caledonia
no sales tax for New Caledonia
no sales tax for Puerto Rico
no vat for Korea (Democratic People's Republic of)
no sales tax for Palestine, State of
no sales tax for Qatar
no vat for Western Sahara
no sales tax for Western Sahara
no sales tax for South Sudan
no id for -99
no vat for Slovakia
no sales tax for Eswatini
no vat for Syrian Arab Republic
no sales tax for Syrian Arab Republic
no sales tax for Timor-Leste
no sales tax for Trinidad and Tobago
no sales tax for Türkiye
no sales tax for Yemen

In [62]:
for country in world['objects']['countries']['geometries']:
    if id in ids and country['properties']['name'] != 'missing':
        print(country['properties']['name'], country['properties']['VAT'], country['properties']['Sales_Tax'])

Afghanistan 0 10.0
Angola 14 14.0
Albania 20 20.0
United Arab Emirates 5 5.0
Argentina 21 21.0
Armenia 20 20.0
Antarctica -1 -1
French Southern Territories -1 -1
Australia 10 10.0
Austria 20 20.0
Azerbaijan 18 18.0
Burundi 18 18.0
Belgium 21 21.0
Benin 18 18.0
Burkina Faso 18 18.0
Bangladesh 15 15.0
Bulgaria 20 20.0
Bahamas 12 12.0
Bosnia and Herzegovina 17 17.0
Belarus 20 20.0
Belize 12.5 12.5
Bolivia (Plurinational State of) -1 13.0
Brazil 20 17.0
Brunei Darussalam 0 -1
Bhutan 20 50.0
Botswana 12 14.0
Central African Republic 19 19.0
Canada 5 5.0
Switzerland 7.7 7.7
Chile 19 19.0
China 13 13.0
Côte d'Ivoire 18 18.0
Cameroon 19.25 19.5
Congo, Democratic Republic of the 16 -1
Congo 18 16.0
Colombia 19 19.0
Costa Rica 13 13.0
Cuba nan 20.0
Cyprus 19 19.0
Czechia 21 21.0
Germany 19 19.0
Djibouti 10 10.0
Denmark 25 25.0
Dominican Republic 18 18.0
Algeria 19 19.0
Ecuador 12 12.0
Egypt 14 14.0
Eritrea 12 5.0
Spain 21 21.0
Estonia 20 20.0
Ethiopia 15 15.0
Finland 24 24.0
Fiji 9 9.0
Falkland Islands (Malvinas) -1 -1
France 20 20.0
Gabon 18 18.0
United Kingdom of Great Britain and Northern Ireland 20 20.0
Georgia 18 18.0
Ghana 12.5 15.0
Guinea 18 18.0
Gambia 15 15.0
Guinea-Bissau 17 -1
Equatorial Guinea 15 15.0
Greece 24 24.0
Greenland 0 -1
Guatemala 12 12.0
Guyana 14% 14.0
Honduras 15 15.0
Croatia 25 25.0
Haiti nan 10.0
Hungary 27 27.0
Indonesia 10 11.0
India 18 18.0
Ireland 23 23.0
Iran (Islamic Republic of) 9 9.0
Iraq nan -1
Iceland 24 24.0
Israel 17 17.0
Italy 22 22.0
Jamaica 16.5 15.0
Jordan 16 16.0
Japan 10 10.0
Kazakhstan 12 12.0
Kenya 14 16.0
Kyrgyzstan 12 12.0
Cambodia 10 10.0
Korea, Republic of 10 -1
Kuwait 0 -1
Lao People's Democratic Republic 10 10.0
Lebanon 11 11.0
Liberia 10 -1
Libya 0 -1
Sri Lanka 8 8.0
Lesotho nan 15.0
Lithuania 21 21.0
Luxembourg 17 16.0
Latvia 21 21.0
Morocco 20 20.0
Moldova, Republic of -1 -1
Madagascar 20 20.0
Mexico 16 16.0
North Macedonia 18 -1
Mali nan 18.0
Myanmar 0 5.0
Montenegro 21 21.0
Mongolia nan 10.0
Mozambique 17 16.0
Mauritania nan 16.0
Malawi 16.5 16.5
Malaysia 10 10.0
Namibia 15 15.0
New Caledonia -1 -1
Niger 19 19.0
Nigeria 7.5 7.5
Nicaragua 15 15.0
Netherlands 21 21.0
Norway 25 25.0
Nepal 13 13.0
New Zealand 15 15.0
Oman 5 5.0
Pakistan 17 17.0
Panama 7 7.0
Peru 18 18.0
Philippines 12 12.0
Papua New Guinea 10 10.0
Poland 23 23.0
Puerto Rico 10.5 -1
Korea (Democratic People's Republic of) -1 15.0
Portugal 23 23.0
Paraguay 10 10.0
Palestine, State of 16 -1
Qatar 5 -1
Romania 19 19.0
Russian Federation 20 20.0
Rwanda 18 18.0
Western Sahara -1 -1
Saudi Arabia 5 15.0
Sudan 17 17.0
South Sudan 18 -1
Senegal 18 18.0
Solomon Islands 0 10.0
Sierra Leone 15 15.0
El Salvador 13 13.0
Somalia nan 10.0
Serbia 20 20.0
Suriname 9 10.0
Slovakia -1 20.0
Slovenia 22 22.0
Sweden 25 25.0
Eswatini 15 -1
Syrian Arab Republic -1 -1
Chad 18 18.0
Togo 18 18.0
Thailand 7 7.0
Tajikistan 18 15.0
Turkmenistan 15 15.0
Timor-Leste 2.5 -1
Trinidad and Tobago 12.5 -1
Tunisia 19 19.0
Türkiye 18 -1
Taiwan, Province of China 5 5.0
Tanzania, United Republic of 18 18.0
Uganda 18 18.0
Ukraine 20 20.0
Uruguay 22 22.0
United States of America 12 0.0
Uzbekistan 20 15.0
Venezuela (Bolivarian Republic of) 16 16.0
Viet Nam 10 10.0
Vanuatu nan 15.0
Yemen 5 -1
South Africa 15 15.0
Zambia 16 16.0
Zimbabwe 14.5 14.5

In [67]:
world['objects']['countries']['geometries'][0]

{'type': 'Polygon',
 'arcs': [[0, 1, 2, 3, 4, 5]],
 'id': '004',
 'properties': {'foo': 'bar'}}

In [68]:
with open('/Users/finn/Documents/GitHub/data/e4e6/Uncleaned Data/world3.json', 'w') as outfile:
    outfile.write(json.dumps(world))

In [42]:
json.dump(json.load(open('/Users/finn/Downloads/mapBodge/110m.json')), open('/Users/finn/Documents/GitHub/data/e4e6/Uncleaned Data/unchanged_map.json', 'w'))

In [14]:
vat_df

,Country,Income,Region,Standard_VAT
0,Afghanistan,Low income,Southern Asia,0
1,Albania,Upper middle income,Southern Europe,20
2,Algeria,Upper middle income,Northern Africa,19
3,American Samoa,Upper middle income,Polynesia,NaN
4,Andorra,High income: nonOECD,Southern Europe,4.5
...,...,...,...,...
213,Venezuela (Bolivarian Republic of),High income: nonOECD,South America,16
214,Viet Nam,Lower middle income,South-Eastern Asia,10
215,Yemen,Lower middle income,Middle East,5
216,Zambia,Lower middle income,Eastern Africa,16
217,Zimbabwe,Low income,Eastern Africa,14.5

In [5]:
world_json.keys

dict_keys(['type', 'objects', 'arcs', 'bbox', 'transform'])

In [12]:
world_json['objects']['countries']['geometries'][0].keys()

dict_keys(['type', 'arcs', 'id'])