In [2]:
import pandas as pd

# Chart 1

In [36]:
df = pd.read_excel("Chart1_Data.xlsx")
df['Value'] = (df['Value']/100).astype(float)
df.to_json('gdp.json', orient='records')

# Chart 2

In [31]:
df = pd.read_excel("Chart2_Data.xlsx")
df['Range_Text'] = df.apply(lambda x: str(round(x['Survey_Min'],2)) + '% to ' + str(round(x['Survey_Max'],2)) + "%", axis=1)
# replace Range_Text with '' if starts with nan
df['Range_Text'] = df['Range_Text'].apply(lambda x: '' if str(x).startswith('nan') else x)
df = df.melt(id_vars=['Date', 'Forecast'], var_name='Series', value_name='Value')
df.dropna(inplace=True)
df['Value'] = df.apply(lambda x: x['Value']/100 if x['Series'] != 'Range_Text' else x['Value'], axis=1)

In [33]:
df.to_json('chart2_data.json', orient='records')

In [ ]:
#

In [32]:
df

           Date  Forecast      Series            Value
0    2000-01-01     False  Survey_Max          0.03664
1    2000-02-01     False  Survey_Max          0.03664
2    2000-03-01     False  Survey_Max          0.03664
3    2000-04-01     False  Survey_Max         0.034407
4    2000-05-01     False  Survey_Max         0.036364
...         ...       ...         ...              ...
1123 2023-02-01     False  Range_Text  -1.95% to 0.66%
1124 2023-03-01     False  Range_Text   0.34% to 0.39%
1125 2023-04-01     False  Range_Text   0.68% to 1.73%
1126 2023-05-01     False  Range_Text  -1.72% to 1.41%
1127 2023-06-01      True  Range_Text

[1125 rows x 4 columns]