In [85]:
import pandas as pd
import numpy as np

## Fig 1,2

In [61]:
df = pd.read_excel('fig1data.xlsx')
# 2017(1) to 2017-01-01
df['Date'] = df['Date'].apply(lambda x: f"{x[:4] + '-' + x[4:].strip('()').zfill(2)}-01")
df.Date = pd.to_datetime(df.Date)
# Drop forecast column
df = df.drop('Forecast', axis=1)
df = df.melt(id_vars=['Date'], var_name='Series', value_name='Value')
df = df.dropna(subset=['Value'])
df.query("Date < '2021-01-01' & Date > '2017-01-01' & (Series != 'actual' | ( Series == 'actual' & Date < '2020-01-01')) ").to_json('fig1data.json', orient='records', date_format='DOB')
df.query("Date < '2021-01-01' & Date > '2017-01-01' ").to_json('fig2data.json', orient='records', date_format='DOB')

### Fig 3

In [62]:
df = pd.read_excel('fig2data.xlsx')
# 2017(1) to 2017-01-01
df['Date'] = df['Date'].apply(lambda x: f"{x[:4] + '-' + x[4:].strip('()').zfill(2)}-01")
df.Date = pd.to_datetime(df.Date)
df = df.melt(id_vars=['Date'], var_name='Series', value_name='Value')
df = df.dropna(subset=['Value'])
df.to_json('fig3data.json', orient='records', date_format='DOB')

## Fig 4

In [88]:
int(np.floor(2009.25))

2009

In [93]:
((2009.75%1)*12)+1

10.0

In [142]:
df = pd.read_excel('../Figure4.xlsx', sheet_name='Sheet2', skiprows=1)
df = df.T
df.columns = df.iloc[0]
df = df.iloc[1:]
df.reset_index(inplace=True)
df.columns = ['Date'] + list(df.columns[1:-1]) + list(["actual"])
df = df.melt(id_vars=['Date'], var_name='Series', value_name='Value')
df.dropna(subset=['Value'], inplace=True)
df['Forecast'] = df['Series'].apply(lambda x: bool( x!='actual' and  x[-1]!='a') )
df['Real_Time'] = df['Series'].apply(lambda x: bool( x[-1]=='a') )
def convert_date(x):
    try: 
        x = float(x)
        year = str(int(np.floor(x))).zfill(4)
        if len(str(x))>4:
            month = str(int(((x%1)*12)+1)).zfill(2)
        else:
            month = "01"
        return f"{year}-{month}-01"
    except:
        return None
df['Date'] = df['Date'].apply(convert_date)
df.dropna(subset=['Date'], inplace=True)
df.to_json('fig4data.json', orient='records', date_format='DOB')

## Fig 5

In [143]:
df = pd.read_excel('../Figure5.xlsx', sheet_name='Sheet2', skiprows=1)
df = df.T
df.columns = df.iloc[0]
df = df.iloc[1:]
df.reset_index(inplace=True)
df.columns = ['Date'] + list(df.columns[1:-1]) + list(["actual"])
df = df.melt(id_vars=['Date'], var_name='Series', value_name='Value')
df.dropna(subset=['Value'], inplace=True)
df['Forecast'] = df['Series'].apply(lambda x: bool( x!='actual' and  x[-1]!='a') )
df['Real_Time'] = df['Series'].apply(lambda x: bool( x[-1]=='a') )
def convert_date(x):
    try: 
        x = float(x)
        year = str(int(np.floor(x))).zfill(4)
        if len(str(x))>4:
            month = str(int(((x%1)*12)+1)).zfill(2)
        else:
            month = "01"
        return f"{year}-{month}-01"
    except:
        return None
df['Date'] = df['Date'].apply(convert_date)
df.dropna(subset=['Date'], inplace=True)
df.to_json('fig5data.json', orient='records', date_format='DOB')

## Fig 6

In [184]:
df = pd.read_excel('../Fig6DataEO.xlsx')
def convert_date(x):
    try: 
        year = x[:4]
        x = x[4:]
        if "(" in x:  
            # retain only numbers 
            x = x.strip('()')
            # zfill 
            x = str(x).zfill(2)
            quarter = x
        else:
            quarter = "01"
        return f"{year}-{quarter}-01"
    except:
        return None
df['Date'] = df['Date'].apply(convert_date)
df = df.melt(id_vars=['Date'], var_name='Series', value_name='Value')
# replace ur in series with actual
df['Series'] = df['Series'].apply(lambda x: x.replace('Ur', 'actual'))
df['Furlough'] = df['Series'].apply(lambda x: bool( 'Furlough' in x ) )
df['Metric'] = df['Series'].apply(lambda x: bool( 'Econometric' in x ) )
df.to_json('fig6data.json', orient='records', date_format='DOB')

In [186]:
max(df.Value.values)

0.0583968

In [179]:
2.zfill(2)

SyntaxError: invalid syntax (172970398.py, line 1)

In [176]:
"(3)".strip('()').zfill(2)

'03'

In [133]:
i_1

Int64Index([  48,   49,   50,   51,  161,  162,  163,  164,  165,  166,
            ...
            4263, 4264, 4265, 4266, 4267, 4268, 4269, 4270, 4271, 4272],
           dtype='int64', length=938)

In [ ]:
i_1 =

In [130]:
# find Nan in date
df[df['Date'].isna()]

Empty DataFrame
Columns: [Date, Series, Value, Forecast]
Index: []

In [128]:
df.query("Date == None")

Empty DataFrame
Columns: [Date, Series, Value, Forecast]
Index: []

In [127]:
df.Date.value_counts()

2013-04-01    21
2009-10-01    21
2014-10-01    21
2010-04-01    21
2010-10-01    21
              ..
2001-01-01     1
2001-04-01     1
2001-07-01     1
2001-10-01     1
2008-10-01     1
Name: Date, Length: 108, dtype: int64

In [84]:
df.query("Date == '' ")

Empty DataFrame
Columns: [Date, Series, Value, Forecast]
Index: []

In [64]:
df = df.T

In [65]:
df

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
Unnamed: 0,x1a,x1,x2a,x2,x3a,x3,x4a,x4,x5a,x5,...,x15,x16a,x16,x17a,x17,x18a,x18,x19a,x19,x20a
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.106424
1997.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.457258
1997.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.616987
1997.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.440799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,111.356933,NaN,111.674381,NaN
2023.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.036809,NaN
2023.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.413241,NaN
2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
,NaN,NaN,NaN,...,...,...,...,...,...,...,...,NaN,...,NaN,...,NaN,...,NaN,...,...,NaN

In [53]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
Unnamed: 0,x1a,x1,x2a,x2,x3a,x3,x4a,x4,x5a,x5,...,x15,x16a,x16,x17a,x17,x18a,x18,x19a,x19,x20a
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.106424
1997.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.457258
1997.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.616987
1997.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.440799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,111.356933,NaN,111.674381,NaN
2023.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.036809,NaN
2023.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.413241,NaN
2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
,NaN,NaN,NaN,...,...,...,...,...,...,...,...,NaN,...,NaN,...,NaN,...,NaN,...,...,NaN